.App {
  text-align: center;
  width: 950px;
  background-color: silver;
  display: inline-block;
}

.Contents{
  display: flex;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

